Wrong percent-encoding in Uri.dataFromBytes() constructor

```dart
String reserved = r"!*'();:@&=+$,/?#";
String unreserved = "0123456789"
    "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    "abcdefghijklmnopqrstuvwxyz"
    "-._~";

main() {
  Uri uri = new Uri.dataFromBytes((reserved + unreserved).codeUnits, percentEncoded: true);
  print(uri.data.contentText);
}
```
This program produces the following output:
`!*'();:@&=+$,/?%230123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz-._~`

Note ...%23...

According https://api.dartlang.org/stable/1.21.1/dart-core/Uri/encodeFull.html Uri.encodeFull() encodes characters, defined in ECMA-262 version 5.1 for the encodeURI function. According this function specification character"#" should not be encoded.

This can be simply documentation issue. According https://api.dartlang.org/stable/1.21.1/dart-core/Uri/encodeFull.html Uri.encodeFull() encodes characters, defined in ECMA-262 version 5.1 for the encodeURI function. ECMA-262 version 5.1 (https://www.ecma-international.org/ecma-262/5.1/) uses RFC 2396 and accorfing to this RFC characters  "#", "[" and "]" should be encoded. RFC 3986 adds "#", "[" and "]" to the character set that should not be encoded.

So, the current behaviour is in accordance with ECMA-262 version 5.1 and RFC 2396. It makes sense to add to the documentation information about RFC that is used for percent-encoding.

Please note thet the current implementation of Uri.encodeFull() contains an error #28621 

It's probably best for `encodeFull` to stay compatible with ECMAScript, since it allows a more efficient compilation of that particular function to JavaScript. 

The `Uri.dataFromBytes` isn't `encodeFull`, though. 
The encoding for that comes from RFC 2397 (the RFC for data: URIs), which says that the *data* part of a data URI must be `*uric` where *uric* comes from RFC 2396. In RFC 2396, *uric* is defined as "*reserved* | *unreserved* | *percent-escaped*", and none of these categories contain `[`, `]` or `#` (RFC 3986 doesn't change that).

So, in the data part of a `data:` URI, `#`, `[` and `]` must be escaped, according to RFC 2397.

(URI specifications are incredibly complex and intertwining with other RFCs, and I won't guarantee that there isn't a bug somewhere, but this one looks correct).

