Incorrect resolution of package-URLs in Dartium

Serve the attached file from a web server, for example, as http://127.0.0.1/index.html.

Connect to the server using Dartium. Observe the following error in the console:

GET http://127.0.0.1/packages/foo/bar.dart 404 (Not Found) 

Now connect the standalone Dart VM to the same server, for example:

dart http://127.0.0.1/main.dart

Observe that the standalone VM correctly prints:

Called bar

The problem is the ../ import in bug/packages/foo/foo.dart. Dartium doesn't resolve it correctly.

See RFC-3986 section 5 (Reference Resolution) http://tools.ietf.org/html/rfc3986#section-5

The base URI of the import is &quot;package:foo/foo.dart&quot;.

The URI reference is &quot;../bar.dart&quot;.

Resolving the latter against the former should yield:

&quot;package:bar.dart&quot;, not &quot;package:foo/bar.dart&quot;.

This is exactly what happens when using the Uri class from dart:core, for example:

main() {
&nbsp;&nbsp;Uri base = Uri.parse('package:foo/foo.dart');
&nbsp;&nbsp;Uri relative = '../bar.dart';
&nbsp;&nbsp;print('base = $base');
&nbsp;&nbsp;print('relative = $relative');
&nbsp;&nbsp;print('resolved = ${base.resolve(relative)}');
}

---

**Attachment:**
[bug.zip](https://storage.googleapis.com/google-code-attachments/dart/issue-17662/comment-0/bug.zip) (1.91 KB)
