HttpClientRequest sends headers with lower case key and out of order.

The server requires the http headers to be ordered and case-sensitive, but Dart cannot do this.

For example, in the following code, the key of the request headers received by the server is all lowercase, and the order is also disrupted(possibly `{'B ':'b', 'D': 'd', 'C': 'c', 'A': 'a',}`).

```dart
    final client = HttpClient();
    final request = await client.getUrl(Uri.parse(url));
    final headers = {
      'A': 'a',
      'B': 'b',
      'C': 'c',
      'D': 'd',
    };
    headers.forEach((key, value) {
      request.headers.set(key, value);
    });
```

> The server requires the http headers to be ordered and case-sensitive, but Dart cannot do this.

That's the bug in the server. Refer to HTTP/1.1 specification. RFC 2616 section 4.2 Message Headers says:

> Field names are case-insensitive.
> [...]
> The order in which header fields with differing field names are received is not significant.

I don't know if supporting non-compliant servers which don't follow RFC 2616 is a goal or not for our builtin client. 

I defer to @brianquinlan to make the call. 

> That's the bug in the server. Refer to HTTP/1.1 specification. RFC 2616 section 4.2 Message Headers says:

I think Dart as a development language should not limit this. This is a matter of framework.



If we can allow people to control the header precisely, even if it requires a more cumbersome approach than the default, I think it is a reasonable feature.

You may want to build specific headers to test your server code, and not only test it with the headers that `dart:io` sends by default.

It'd also be reasonable to defer to a secondary library for something like that, like `package:http` or a new `package:custom_http` (or whatever, naming is hard). It doesn't have to be part of the default implementation unless those other packages need it.

@tinyc0der Hi, how did you solve it? I saw the merge was closed